<a href="https://colab.research.google.com/github/KulsoomBibi/DataScienceWithAtomCamp/blob/main/list%26Dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List**

In [21]:
x = [[1,2,3,4], [5,6,7,8],[9,10,11,12]]
print(x)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [22]:
x.insert(1,[20,30,40,50])
print(x)

[[1, 2, 3, 4], [20, 30, 40, 50], [5, 6, 7, 8], [9, 10, 11, 12]]

In [26]:
x.extend([[1000,2000,3000,4000], [5000,6000,7000,8000]])
print(x)

[[1, 2, 3, 4], [20, 30, 40, 50], [5, 6, 7, 8], [9, 10, 11, 12], [60, 70, 80, 90], [60, 70, 80, 90], [1000, 2000, 3000, 4000], [5000, 6000, 7000, 8000]]

In [24]:
x.append([60,70,80,90])
print(x)

[[1, 2, 3, 4], [20, 30, 40, 50], [5, 6, 7, 8], [9, 10, 11, 12], [60, 70, 80, 90], [60, 70, 80, 90]]

In [12]:
x.remove([20,30,40,50])
print(x)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [60, 70, 80, 90]]

In [19]:
x.pop(2)
print(x)

[[5, 6, 7], [9, 10, 11, 12]]

In [15]:
del x[0]
print(x)

[[5, 6, 7, 8], [9, 10, 11, 12], [60, 70, 80, 90]]

In [16]:
del x[0][3]
print(x)

[[5, 6, 7], [9, 10, 11, 12], [60, 70, 80, 90]]

**Dictionaries**

key-value pairs

dictionary_name = {key: value}

In [27]:
x = {"name": "Kulsoom"}
print(x)

{'name': 'Kulsoom'}

In [32]:
x = {"name": "Kulsoom"}
print(x["name"])

Kulsoom

In [31]:
print(x.get("course", "English"))

English

In [33]:
x["courses"] = ["English", "Maths"]
print(x)

{'name': 'Kulsoom', 'courses': ['English', 'Maths']}

In [35]:
x["Phone"] = 3005783166
print(x)

{'name': 'Kulsoom', 'courses': ['English', 'Maths'], 'Phone': 3005783166}

In [36]:
del x["Phone"]
print(x)

{'name': 'Kulsoom', 'courses': ['English', 'Maths']}

In [38]:
x.pop("courses")
print(x)

{'name': 'Kulsoom'}

In [43]:
courses = {"CS-001" : "English", "CS-002" : "Maths", "CS-003" : "Urdu", "CS-004" : "Computer"}
print(courses)

{'CS-001': 'English', 'CS-002': 'Maths', 'CS-003': 'Urdu', 'CS-004': 'Computer'}

In [45]:
print(courses.keys())

dict_keys(['CS-001', 'CS-002', 'CS-003', 'CS-004'])

In [46]:
print(courses.values())

dict_values(['English', 'Maths', 'Urdu', 'Computer'])

In [47]:
print(courses.items())

dict_items([('CS-001', 'English'), ('CS-002', 'Maths'), ('CS-003', 'Urdu'), ('CS-004', 'Computer')])

In [54]:
for key in courses:
    print(key)

CS-001
CS-002
CS-003
CS-004

In [56]:
for value in courses:
    print(value)

CS-001
CS-002
CS-003
CS-004

In [52]:
for key, value in courses.items():
    print(key, value)

CS-001 English
CS-002 Maths
CS-003 Urdu
CS-004 Computer

**IF STATEMENTS**

In [58]:
num = int(input("Enter a number:"))

if num > 0:
    print("Postive number")

Enter a number:6
Postive number

In [61]:
num = int(input("Enter a number:"))

if num > 0:
    print("Postive number")

else:
    print("Negative number")

Enter a number:-24
Negative number

In [59]:
num = int(input("Enter a number:"))

if num > 0:
    print("Postive number")

elif num == 0:
    print("Zero")


else:
    print("Negative number")

Enter a number:44
Postive number

In [63]:
# if-else

price = int(input("Enter price of item:"))

if (price < 100):
    discount = (price * 0.05)
    print("Discount is", discount)

else:
    discount = (price * 0.10)
    print("Discount is", discount)

Enter price of item:64
Discount is 3.2

In [66]:
#Elif
price = int(input("Enter price of item:"))

if (price < 100):
    discount = (price * 0.05)
    print("Discount is", discount)
elif (price > 100 and price <= 200):
    discount = (price * 0.10)
    print("Disount is", discount)
elif (price > 200 and price <= 500):
      discount = (price * 0.15)
      print("Discount is", discount)
else:
    discount = (price * 0.10)
    print("Discount is", discount)

Enter price of item:450
Discount is 67.5

**Nested IFs**

In [68]:
# check if a number is divisible by 2 & 3

num = int(input("Enter a number"))

if (num % 2 == 0):
    if (num % 3 == 0):
        print("Number is divisible by 2 and 3")
    else:
        print("Number is divisible by 2 but not by 3")
else:
    print("Number is not divisible by 2")

Enter a number12
Number is divisible by 2 and 3

In [69]:
num = int(input("Enter a number"))

if (num % 2 == 0):
    if (num % 3 == 0):
        print("Number is divisible by 2 and 3")

    else:
        print("Number is divisible by 2 but not by 3")

else:
      print("Number is not divisivle by 2")

Enter a number15
Number is not divisivle by 2

**For Loops**

In [70]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [81]:
fruits = ["apple", "banana", "cherry"]

print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
banana
cherry

In [84]:
fruits = ["apple", "banana", "cherry"]
for num , fruits in enumerate(fruits):
    print(num , fruits)

0 apple
1 banana
2 cherry

In [71]:
fruits = ["apple", "banana", "cherry"]
for var in fruits:
    print(var)

apple
banana
cherry

In [72]:
fruits = ["apple", "banana", "cherry"]
for var in fruits:
    var = var.upper()
    print(var)

APPLE
BANANA
CHERRY

In [73]:
fruits = ["apple", "banana", "cherry"]
for var in fruits:
    var = var.lower()
    print(var)

apple
banana
cherry

In [74]:
fruits = ["apple", "banana", "cherry"]
for var in fruits:
    var = var.title()
    print(var)

Apple
Banana
Cherry

In [75]:
fruits = ["apple", "banana", "cherry"]
for var in fruits:
    var = var.capitalize()
    print(var)

Apple
Banana
Cherry

In [76]:
fruits = ["apple", "banana", "cherry"]
for var in fruits:
    var = var.swapcase()
    print(var)

APPLE
BANANA
CHERRY

In [77]:
fruits = ["apple", "banana", "cherry"]
for var in fruits:
    var = var.zfill(10)
    print(var)

00000apple
0000banana
0000cherry

In [78]:
fruits = ["apple", "banana", "cherry"]
for var in fruits:
    var = var.center(10)
    print(var)

  apple
  banana
  cherry

In [79]:
fruits = ["apple", "banana", "cherry"]
for var in fruits:
    var = var + "_fruits"
    print(var)

apple_fruits
banana_fruits
cherry_fruits