<a href="https://colab.research.google.com/github/KulsoomBibi/DataScienceWithAtomCamp/blob/main/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas**

1.   Series
2.   DataFrame

In [21]:
import pandas as pd

In [22]:
import numpy as np

In [25]:
pop = np.array([35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523])

In [30]:
population = pd.Series([35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523])

In [31]:
population

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [27]:
pop

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [32]:
#Series can have name, to better document the purpose of the Series:
population.name = 'G7 Population in millions'

In [35]:
population

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [36]:
population.dtype

dtype('float64')

In [37]:
pop.dtype

dtype('float64')

In [38]:
population.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [39]:
population

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [40]:
population[0]

35.467

In [41]:
population[1]

63.951

In [42]:
population.index

RangeIndex(start=0, stop=7, step=1)

**but i want my own index**

In [44]:
population.index = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States']

In [45]:
population

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

We cn say that Series look like "Ordered Dictionary". We can actually create Series out of dictionary

In [50]:
pd.Series({'Canada':	35.467,
'France':	63.951,
'Germany':	80.940,
'Italy':	60.665,
'Japan':	127.061,
'United Kingdom':	64.511,
'United States':	318.523}, name= 'G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [52]:
pd.Series([35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523], index=['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States'], name= 'G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [54]:
pd.Series(population, index=['Canada'])

Canada    35.467
Name: G7 Population in millions, dtype: float64

In [55]:
population['Canada']

35.467

In [56]:
population['Japan']

127.061

Numeric position also be used with iloc attributes

In [57]:
population.iloc[0:4] #0,1,2,3

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in millions, dtype: float64

In [58]:
population.iloc[-1]

318.523

In [61]:
population[['Canada', 'Italy']]

Canada    35.467
Italy     60.665
Name: G7 Population in millions, dtype: float64

In [63]:
population['Canada': 'Italy']

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in millions, dtype: float64

Conditional Selection(Boolean Arrays)

In [66]:
population

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [67]:
population > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [68]:
population.mean()

107.30257142857144

In [69]:
population.std()

97.24996987121581

Operations and Method

In [72]:
population * 1000000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
Name: G7 Population in millions, dtype: float64

In [71]:
np.log(population)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
Name: G7 Population in millions, dtype: float64

In [73]:
population

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [75]:
population['France': 'Italy'].mean()

68.51866666666666

In [76]:
population['France': 'Italy'].sum()

205.55599999999998

**Modifying Series**

In [77]:
population['France'] = 40.32

In [78]:
population

Canada             35.467
France             40.320
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [79]:
population.iloc[-1] = 500

In [80]:
population

Canada             35.467
France             40.320
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     500.000
Name: G7 Population in millions, dtype: float64